<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="common/common_head :: commonHeader('资源类型管理')"></head>


<body class="article_bg">
<div id="app">
    <p class="article_tit">资源类型管理</p>
    <div class="clearfix" style="margin-bottom: 5px;"></div>
    <div class="card-title">
        <el-button v-on:click="clickSaveBtn"><i class="fa fa-save" aria-hidden="true" style="padding-right:5px"></i>保存
        </el-button>
        <el-button v-on:click="clickCancelBtn"><i class="fa fa-eraser" aria-hidden="true" style="padding-right:5px"></i>取消
        </el-button>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <el-form label-width="150px" label-suffix=":" :rules="rules" ref="updateForm"
                             :model="adminResourceType">
                        <el-row style="padding: 10px 0px">
                            <el-form-item label="资源类型" prop="typeName">
                                <el-input v-model="adminResourceType.typeName" placeholder="资源类型"
                                          style="width:400px"></el-input>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <el-form-item label="备注" prop="memo">
                                <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}"
                                          placeholder="请输入内容" v-model="adminResourceType.memo" style="width: 400px">
                                </el-input>
                            </el-form-item>
                        </el-row>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


<!-- include 公共js库 -->
<div th:include="common/onload_js :: onloadJS"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    new Vue({
        el: '#app',
        data: function () {
            return {
                adminResourceType: [[${adminResourceType}]],
                rules: {
                    typeName: [{required: true, message: '请输入资源类型', trigger: 'blur'}],
                    memo: [{required: true, message: '请输入备注', trigger: 'blur'}]
                }
            }
        },
        created: function () {
        },
        methods: {
            clickCancelBtn() {
                window.history.back(-1);
            },
            clickSaveBtn() {
                this.$refs["updateForm"].validate((valid)=>{
                    if(valid) {
                        _this = this;
                        var url = '/admin/updateOrInsertAdminResourceType';
                        axios.post(url, _this.adminResourceType).then(function (response) {
                            console.log(response);
                            if (response.data.code == null || response.data.code != 0) {
                                _this.$notify.warning({title: '提示!', message: response.data.message, offset: 100});
                            } else {
                                alert("操作成功!");
                                // window.location.href = "/admin/adminResourceTypeList";
                                window.history.back(-1);
                            }
                        }).catch(function (error) {
                            console.log(error);
                            _this.$notify.error({title: '错误', message: '新增数据失败，请联系系统管理员', offset: 100});
                        });
                    }else{
                        console.log("error!");
            }
            })
                ;
            }
        }
    })

    /*]]>*/
</script>
</html>