<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:v-on="http://www.w3.org/1999/xhtml">

<!-- include 公共head -->
<head th:include="common/common_head :: commonHeader('资源管理')"></head>
<body class="article_bg">
<div id="app">
    <p class="article_tit">资源管理</p>
    <div class="clearfix" style="margin-bottom: 5px;"></div>
    <div class="card-title">
            <el-button v-on:click="clickSaveBtn"><i class="fa fa-save" aria-hidden="true" style="padding-right:5px"></i>保存
            </el-button>
            <el-button v-on:click="clickCancelBtn"><i class="fa fa-eraser" aria-hidden="true" style="padding-right:5px"></i>取消
            </el-button>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <el-form label-width="150px" label-suffix=":" :rules="rules" ref="updateForm"
                             :model="adminResourceInfo">
                        <el-row>
                            <el-form-item label="资源代码" prop="resourceCode">
                                <el-input v-model="adminResourceInfo.resourceCode" placeholder="资源代码" clearable="true"
                                          style="width:400px"></el-input>
                            </el-form-item>
                        </el-row>
                        <el-row style="padding: 10px 0;">
                            <el-form-item label="资源名称" prop="resourceName">
                                <el-input v-model="adminResourceInfo.resourceName" placeholder="资源名称"
                                          style="width:400px"></el-input>
                            </el-form-item>
                        </el-row>
                        </el-row>
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="资源类型" prop="typeId">
                                    <el-select v-model="adminResourceInfo.typeId">
                                        <el-option v-for="(item,key) in typeNameItems" :label="key"
                                                   :value="item"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-form-item label="备注" prop="memo">
                                <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}"
                                          placeholder="请输入内容" v-model="adminResourceInfo.memo" style="width: 400px">
                                </el-input>
                            </el-form-item>
                        </el-row>
                    </el-form>
                </div>
            </div>

            <p class="article_tit">权限定义列表</p>
            <div class="clearfix" style="margin-bottom: 5px;"></div>
            <template>
                <el-table :data="adminOperationInfoList" :border="true" :highlight-current-row="true">
                    <el-table-column prop="checkStatus" label="选择">
                        <template scope="scope">
                            <el-checkbox size="small" v-model="scope.row.checkStatus"
                                         :true-label="1" :false-label="0"></el-checkbox>
                        </template>
                    </el-table-column>

                    <el-table-column prop="operationName" label="操作"></el-table-column>
                    <el-table-column prop="privilegeDesc" label="描述">
                        <template scope="scope">
                            <el-input size="small" v-model="scope.row.privilegeDesc" placeholder="请输入描述"></el-input>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </div>
    </div>
</div>
</body>


<!-- include 公共js库 -->
<div th:include="common/onload_js :: onloadJS"></div>


<script th:inline="javascript">
    /*<![CDATA[*/
    new Vue({
        el: '#app',
        data: function () {
            return {
                adminResourceInfo: [[${adminResourceInfo}]],
                typeNameItems: [[${typeNameItems}]],
                adminOperationInfoList: [[${adminOperationInfoList}]],
                rules: {
                    resourceCode: [{required: true, message: '请输入资源代码', trigger: 'blur'}],
                    resourceName: [{required: true, message: '请输入资源名称', trigger: 'blur'}]
                }
            }
        },
        created: function () {
            console.log(this.allAdminOperationInfo);
        },
        methods: {
            clickCancelBtn() {
                window.history.back(-1);
            },
            clickSaveBtn() {
                this.adminResourceInfo.adminOperationInfoList = this.adminOperationInfoList;
                this.$refs["updateForm"].validate((valid)=>{
                    if(valid) {
                        _this = this;
                        var url = '/admin/updateOrInsertAdminResourceInfo';
                        axios.post(url, _this.adminResourceInfo).then(function (response) {
                            console.log(response);
                            if (response.data.code == null || response.data.code != 0) {
                                _this.$notify.warning({title: '提示!', message: response.data.message, offset: 100});
                            } else {
                                alert("操作成功!");
                                window.location.href = "/admin/adminResourceInfoList";
                            }
                        }).catch(function (error) {
                            console.log(error);
                            _this.$notify.error({title: '错误', message: '新增数据失败，请联系系统管理员', offset: 100});
                        });
                    }else{
                        console.log("error!");
            }
            })
                ;
            }
        }


    })

    /*]]>*/
</script>
</html>