<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- include 公共head -->
<head th:include="/common/common_head :: commonHeader('设计分组')"></head>

<body>

<div id="app" class="container-fluid" style="padding-top: 5px" v-loading="exportingFile" element-loading-text="正在生成导出文件">
	<el-dialog ref="uploadPanel" :visible.sync="uploadDialogVisible" :close-on-click-modal="false">
		<a href="template/ConfigMonthStandardTemplate.xlsx" style="font-size: 15px; color: red;">模版下载</a>
		<div style="margin-top: 10px; margin-left: -5px; color: #000;">
			“导入”功能是新增导入的数据，不会覆盖已有数据；故导入前，请先删除原有数据。
		</div>
		<div style="height: 50px;"></div>
		<el-form style="width: 30rem;" v-loading="importing" element-loading-text="导入数据中，请耐心等待..."
				 class="form uploadform">
			<el-form-item>
				<el-upload ref="upload" action="DesignGrouping/importExcel"
						   :before-upload="beforeUpload" :limit="1"
						   :file-list="fileList" :auto-upload='true' :show-upload-list="false"
						   :on-success="handleUploadSuccess"
						   :on-error="handleUploadError">
					<el-button slot="trigger" type="primary" :disabled="importing">点击上传</el-button>
					<div slot="tip" class="el-upload__tip">只能上传xls/xlsx 文件,每次只能上传一个</div>
				</el-upload>
			</el-form-item>
		</el-form>
	</el-dialog>
<nav class="navbar" style="background-color:#eef1f6">
    <!--<ul class="nav">-->
      <!--<li style="padding-left:20px">-->
		  <!--<el-select v-model="searchColumn" placeholder="请选择搜索字段" :clearable="true">-->
		    <!--<el-option label="自增id" value="id"></el-option>-->
		    <!--<el-option label="设计分组" value="designGrouping"></el-option>-->
		    <!--<el-option label="系列" value="serial"></el-option>-->
		    <!--<el-option label="原系列" value="originalSerial"></el-option>-->
		    <!--<el-option label="风格" value="style"></el-option>-->
		    <!--<el-option label="商品层" value="goodsLevel"></el-option>-->
		    <!--<el-option label="品类" value="category"></el-option>-->
		    <!--<el-option label="创建时间" value="createTime"></el-option>-->
		    <!--<el-option label="创建者" value="createBy"></el-option>-->
		    <!--<el-option label="修改时间" value="modifyTime"></el-option>-->
		    <!--<el-option label="修改者" value="modifyBy"></el-option>-->
		  <!--</el-select> -->
      <!--</li>-->
      <!--<li style="padding-left:20px">-->
        <!--<el-input v-model="searchValue" placeholder="请输入搜索内容"></el-input> -->
      <!--</li>-->
      <!--<li style="padding-left:20px">-->
        <!--<el-button type="text" icon="search" v-on:click="clickSearchBtn">搜索</el-button>-->
      <!--</li>-->
    <!--</ul>-->
	<el-switch v-model="expandCondition" off-text="展开" on-text="收缩" active-text="查询"></el-switch>
</nav>

  <div class="card" v-if="expandCondition">

	<div class="card-body">
  <div class="row">
  	<div class="col-md-12">
		<el-form label-width="150px">
			<el-row>
				<el-col :span="8">
					<div class="ur-stack-label">设计分组</div>
					<el-select :filterable="true" v-model="queryCondition.designGrouping" placeholder="请选择" :multiple="true"
							   v-on:change="changeSerial"
							   align="left" size="small" :clearable="true" style="width: 100%;">
						<el-option v-for="(item,key) in designGroupItems" align="left" :label="item"
								   :value="key"></el-option>
					</el-select>
				</el-col>

				<el-col :span="8">
					<div class="ur-stack-label">系列</div>
					<el-select v-model="queryCondition.serial" placeholder="请选择系列" filterable="true"
							   align="left" size="small" :clearable="true" v-on:change="changeSerial" style="width: 100%;">
						<el-option v-for="(item,key) in serialItems" :key="key" align="left"
								   :label="item" :value="key"></el-option>
					</el-select>
				</el-col>

				<el-col :span="8">
					<div class="ur-stack-label">风格</div>
					<el-select v-model="queryCondition.style" placeholder="请选择风格" filterable="true"
							   align="left" size="small" :clearable="true" :multiple="true" style="width: 100%;">
						<el-option v-for="(item,index) in styleItems" :key="index" align="left"
								   :label="item.svalue" :value="item.skey"></el-option>
					</el-select>
				</el-col>

			</el-row>
			<el-row>
				<el-col :span="8">
					<div class="ur-stack-label">品类</div>
					<el-select :filterable="true" v-model="queryCondition.category" placeholder="请选择" :multiple="true"
							   align="left" size="small" :clearable="true" style="width: 100%;">
						<el-option v-for="(item,key) in categoryItems" align="left" :label="item"
								   :value="key"></el-option>
					</el-select>
				</el-col>
				<el-col :span="8">
					<div class="ur-stack-label">原系列</div>
					<el-select :filterable="true" v-model="queryCondition.originalSerial" placeholder="请选择" :multiple="true"
							   align="left" size="small" :clearable="true" style="width: 100%;">
						<el-option v-for="(item,key) in serialItems" align="left" :label="item"
								   :value="key"></el-option>
					</el-select>
				</el-col>
				<el-col :span="8">
					<div class="ur-stack-label">商品层</div>
					<el-select :filterable="true" v-model="queryCondition.goodsLevel" placeholder="请选择" :multiple="true"
							   align="left" size="small" :clearable="true" style="width: 100%;">
						<el-option v-for="(item,key) in goodsLevelItems" align="left" :label="item"
								   :value="key"></el-option>
					</el-select>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="8">
					<div class="ur-stack-label">创建者</div>
					<el-select :filterable="true" v-model="updateInstance.createBy" placeholder="请选择" :multiple="true"
							   align="left" size="small" :clearable="true" style="width: 100%;">
					</el-select>
				</el-col>
			</el-row>

		</el-form>
  	</div>
  </div>

	<div class="text-center">
		<el-button v-on:click="clickSearchBtn"><i class="fa fa-search" aria-hidden="true" style="padding-right:5px"></i>查询</el-button>
		<el-button v-on:click="clickResetBtn"><i class="fa fa-eraser" aria-hidden="true" style="padding-right:5px"></i>重置</el-button>   

	</div>
  </div>
</div>

<div class="clearfix" style="margin-bottom: 5px;"></div>

  <div class="row" >
	<div class="col-md-12">

<nav class="navbar">

    <ul class="nav">
      <li>
        <!--<el-button v-on:click="clickAddBtn" icon="plus">添加</el-button>-->
        <!--<el-button v-on:click="clickUpdateBtn" icon="edit">修改</el-button>-->
		  <el-button v-on:click="clickDeleteBtn"><i class="fa fa-trash" aria-hidden="true"
													style="padding-right:5px"></i>删除
		  </el-button>
		  <el-button v-on:click="clickDeleteBtn"><i class="fa fa-trash" aria-hidden="true"
													style="padding-right:5px"></i>永久删除
		  </el-button>
		  <el-button v-on:click="clickImportBtn"><i class="fa fa-upload" aria-hidden="true"
													style="padding-right:5px"></i>导入
		  </el-button>
        <el-button v-on:click="clickExportBtn"><i class="fa fa-download" aria-hidden="true" style="padding-right:5px"></i>导出</el-button>
      </li>
    </ul>
		<el-pagination :page-size="20" :total="queryResult.totalRecordNum" :current-page="queryResult.currPage" v-on:current-change="handleCurrentChange" v-on:size-change="handleSizeChange" layout="total, sizes, prev, pager, next, jumper">
		</el-pagination>
</nav>

        <el-table v-loading="queryingDesignGrouping" :data="this.queryResult.data" :border="true" :highlight-current-row="true" :height="this.tableHeight" v-on:current-change="handleTableCurrentChange">
          <!--<el-table-column property="id" label="自增id" min-width="120" :show-overflow-tooltip="true"></el-table-column>-->
			<el-table-column property="designGrouping" label="设计分组" min-width="120" :show-overflow-tooltip="true"></el-table-column>
          	<el-table-column property="serial" label="系列" min-width="120" :show-overflow-tooltip="true"></el-table-column>
			<el-table-column property="style" label="风格" min-width="120" :show-overflow-tooltip="true"></el-table-column>
			<el-table-column property="category" label="品类" min-width="120" :show-overflow-tooltip="true"></el-table-column>
			<el-table-column property="originalSerial" label="原系列" min-width="120" :show-overflow-tooltip="true"></el-table-column>
			<el-table-column property="goodsLevel" label="商品层" min-width="120" :show-overflow-tooltip="true"></el-table-column>
          <el-table-column property="createTime" label="创建时间" min-width="120" :show-overflow-tooltip="true"></el-table-column>
          <el-table-column property="createBy" label="创建者" min-width="120" :show-overflow-tooltip="true"></el-table-column>
          <el-table-column property="modifyTime" label="修改时间" min-width="120" :show-overflow-tooltip="true"></el-table-column>
          <el-table-column property="modifyBy" label="修改者" min-width="120" :show-overflow-tooltip="true"></el-table-column>
        </el-table>

	</div>
</div>



			<el-dialog ref="updatePanel" :title="dialogTitle" :visible.sync="showDialog"  v-loading="updatingDesignGrouping" :lock-scroll="false" size="large">

				  <div class="card-title">
			        <el-button v-on:click="clickSaveBtn"><i class="fa fa-save" aria-hidden="true" style="padding-right:5px"></i>保存</el-button>
			        <el-button v-on:click="clickCancelBtn"><i class="fa fa-eraser" aria-hidden="true" style="padding-right:5px"></i>取消</el-button>
			      </div>

				  <div class="card">
				  	<div class="card-body">

				  <div class="row">
				  	<div class="col-md-12">
						<el-form  label-width="150px" :rules="rules" ref="updateForm" :model="updateInstance" label-suffix=":">
<el-row>
	<el-col :span="8">
						  <el-form-item label="自增id" prop="id">
						    <el-input-number v-model="updateInstance.id" :controls="false"></el-input-number>
						  </el-form-item>
	</el-col>
	<el-col :span="8">
						  <el-form-item label="设计分组" prop="designGrouping">
						    <el-input v-model="updateInstance.designGrouping" placeholder="设计分组"></el-input>
						  </el-form-item>
	</el-col>
	<el-col :span="8">
						  <el-form-item label="系列" prop="serial">
						    <el-input v-model="updateInstance.serial" placeholder="系列"></el-input>
						  </el-form-item>
	</el-col>
</el-row>
<el-row>
	<el-col :span="8">
						  <el-form-item label="原系列" prop="originalSerial">
						    <el-input v-model="updateInstance.originalSerial" placeholder="原系列"></el-input>
						  </el-form-item>
	</el-col>
	<el-col :span="8">
						  <el-form-item label="风格" prop="style">
						    <el-input v-model="updateInstance.style" placeholder="风格"></el-input>
						  </el-form-item>
	</el-col>
	<el-col :span="8">
						  <el-form-item label="商品层" prop="goodsLevel">
						    <el-input v-model="updateInstance.goodsLevel" placeholder="商品层"></el-input>
						  </el-form-item>
	</el-col>
</el-row>
<el-row>
	<el-col :span="8">
						  <el-form-item label="品类" prop="category">
						    <el-input v-model="updateInstance.category" placeholder="品类"></el-input>
						  </el-form-item>
	</el-col>
	<el-col :span="8">
						  <el-form-item label="创建时间" prop="createTime">
						    <el-date-picker v-model="updateInstance.createTime" type="datetime" placeholder="创建时间"></el-date-picker>
						  </el-form-item>
	</el-col>
	<el-col :span="8">
						  <el-form-item label="创建者" prop="createBy">
						    <el-input v-model="updateInstance.createBy" placeholder="创建者"></el-input>
						  </el-form-item>
	</el-col>
</el-row>
<el-row>
	<el-col :span="8">
						  <el-form-item label="修改时间" prop="modifyTime">
						    <el-date-picker v-model="updateInstance.modifyTime" type="datetime" placeholder="修改时间"></el-date-picker>
						  </el-form-item>
	</el-col>
	<el-col :span="8">
						  <el-form-item label="修改者" prop="modifyBy">
						    <el-input v-model="updateInstance.modifyBy" placeholder="修改者"></el-input>
						  </el-form-item>
	</el-col>
	<el-col :span="8">
						<el-form-item label="删除状态为0" prop="deleted">
							<el-input v-model="updateInstance.deleted" placeholder="删除状态"></el-input>
						</el-form-item>
	</el-col>
</el-row>
						</el-form>
				  	</div>
				  </div>

				  </div>
				</div>
			</el-dialog>



</div>

</body>

<!-- include 公共js库 -->
<div th:include="/common/onload_js :: onloadJS"></div>

  <script th:inline="javascript">
  /*<![CDATA[*/
    new Vue({
      el: '#app',
      data: function() {
        return {   
          queryCondition:{
        	  // id:"",
        	  // designGrouping:"",
        	  // serial:"",
        	  // originalSerial:"",
        	   //style:"",
        	  // goodsLevel:"",
        	  // category:"",
        	  // createTime:"",
        	   //createBy:"",
        	  // modifyTime:"",
        	  // modifyBy:"",
			  designGrouping: [],
			  serial: [],
			  originalSerial:[],
			  style:[],
			  goodsLevel:[],
			  category:[],
			  createTime:[],
			  createBy:[],
			  modifyTime:[],
			  modifyBy:[],
          },
          queryResult:{
        	  totalRecordNum:0,
        	  currPage:1,
        	  pageSize:20
          },
			serialItems: [[${serialItems}]],
			styleItems: [],
			allStyleItems: [[${styleItems}]],
			goodsLevelItems: [[${goodsLevelItems}]],
			categoryItems: [[${categoryItems}]],
			designGroupItems:[[${designGroupItems}]],
          queryingDesignGrouping:false,
          updatingDesignGrouping:false,
          exportingFile:false,
          expandCondition:false,
          searchColumn: "",
          searchValue: "",
          updateInstance:{},
          isUpdate:false,
            dialogTitle:"",
            showDialog:false,
            uploadDialogVisible: false,
            importing: false,
            fileList: [],
            rules: {
        	  id: [
                { type:'number', required: true, message: '该字段不能为空', trigger: 'blur' }
              ],
        	  designGrouping: [
                { max: 10, message: '长度不能超过10', trigger: 'blur' },
                { required: true, message: '该字段不能为空', trigger: 'blur' }
              ],
        	  serial: [
                { max: 10, message: '长度不能超过10', trigger: 'blur' }
              ],
        	  originalSerial: [
                { max: 10, message: '长度不能超过10', trigger: 'blur' }
              ],
        	  style: [
                { max: 10, message: '长度不能超过10', trigger: 'blur' }
              ],
        	  goodsLevel: [
                { max: 10, message: '长度不能超过10', trigger: 'blur' }
              ],
        	  category: [
                { max: 10, message: '长度不能超过10', trigger: 'blur' }
              ],
        	  createTime: [
                { type:'date', required: true, message: '该字段不能为空', trigger: 'blur' }
              ],
        	  createBy: [
                { max: 50, message: '长度不能超过50', trigger: 'blur' },
                { required: true, message: '该字段不能为空', trigger: 'blur' }
              ],
        	  modifyTime: [
                { type:'date', required: true, message: '该字段不能为空', trigger: 'blur' }
              ],
        	  modifyBy: [
                { max: 50, message: '长度不能超过50', trigger: 'blur' },
                { required: true, message: '该字段不能为空', trigger: 'blur' }
              ]
          },
          tableHeight:500
        }
      },
      created: function() {
    	  this.tableHeight = $(document).height() - 115;
    	  console.log(this.serialItems);
    	  this.queryDesignGrouping();
      },
      methods: {
		  clickDeleteBtn() {
			  if (!this.queryResult.data) {
				  this.$notify({title: '警告', message: "请先查询出数据再删除！", offset: 100, type: 'warning'});
				  return;
			  }

			  this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
				  confirmButtonText: '确定',
				  cancelButtonText: '取消',
				  type: 'warning',
				  center: true
			  }).then(() => {
				  this.deleteData();
		  }).catch(() => {
			  });
		  },
		  deleteData() {
			  _this = this;
			  var url = '/ur-bi-portal/DesignGrouping/delete';
			  var restRequest = new URRestRequest();
			  restRequest.addCondition("designGrouping", this.queryCondition.designGrouping.join(","), "in");
			  restRequest.addCondition("serial",this.queryCondition.serial, "eq");
			  restRequest.addCondition("originalSerial",this.queryCondition.originalSerial.join(","),"in");
			  restRequest.addCondition("style",this.queryCondition.style.join(","),"in");
			  restRequest.addCondition("goodsLevel",this.queryCondition.goodsLevel.join(","),"in");
			  restRequest.addCondition("category",this.queryCondition.category.join(","),"in");
			  //restRequest.addCondition("createBy", this.queryCondition.createBy.join(","), "in");

			  this.loading = true;
			  this.loadText = "删除数据中...";

			  axios.get(url, restRequest.getRequestData())
					  .then(function (response) {
						  console.log(response);
						  if (response.data.code == null || response.data.code != 0) {
							  _this.$notify.error({title: '删除失败', message: response.data.message, offset: 100});
							  _this.$data.loading = false;
						  } else {
							  _this.$notify({
								  title: '删除成功',
								  message: response.data.message,
								  offset: 100,
								  type: "success"
							  });
							  _this.queryResult.currPage = 1;
							  _this.queryData();
							  _this.$data.loading = false;
						  }
					  })
					  .catch(function (error) {
						  console.log(error);
						  _this.$notify.error({title: '错误', message: '删除失败，请联系系统管理员', offset: 100});
					  });
		  },
		  changeSerial() {
			  this.styleItems = [];
			  this.queryCondition.style = [];
			  if (this.queryCondition.serial) {
				  var serial = this.queryCondition.serial;
				  for (var i = 0; i < this.allStyleItems.length; i++) {
					  if (this.allStyleItems[i].parentKey === serial) {
						  this.styleItems.push(this.allStyleItems[i]);
					  }
				  }
			  }
		  },
		  handleUploadSuccess(res, file, fileList) {
              this.fileList = [];
              this.uploadDialogVisible = false;
              this.importing = false;
              if (JSON.stringify(res.success) === "false") {
                  this.$message({
                      message: '导入失败: ' + JSON.stringify(res.message),
                      type: 'error',
                      duration: 0,
                      showClose: true
                  });
              } else {
                  this.$message({message: JSON.stringify(res.message), type: 'success'});
                  this.queryResult.currPage = 1;
                  this.clickResetBtn();
                  this.queryData();
              }
          }, handleUploadError(err, file, fileList) {
              this.importing = false;
              this.fileList = [];
              this.uploadDialogVisible = false;
              //this.$message({message: '导入失败' + err, type: 'error'});
              this.$notify.error({title: '导入失败', message: '导入失败:登录超时或导入excel大于5M', offset: 100, duration: 0});
          },
          beforeUpload(file) {
              let Xls = file.name.split('.');
              if (Xls[1] === 'xls' || Xls[1] === 'xlsx') {
                  this.importing = true;
                  return file;
              } else {
                  this.$message.error('只能上传   xls、xlsx 文件');
                  return false;
              }
          },
          clickImportBtn() {
              this.uploadDialogVisible = true;
          },
  		clickAddBtn() {
			this.updateInstance = {};
			this.isUpdate = false;
			this.dialogTitle = '新增';
			this.showDialog = true;
		},
		clickUpdateBtn() {
			if(this.currInstance==null){
				return;
			}
			this.updateInstance = this.currInstance;
			this.isUpdate = true;
			this.dialogTitle = '修改';
			this.showDialog = true;
		},
		clickCancelBtn() {
			this.showDialog = false;
		},
		clickSaveBtn() {
	        this.$refs["updateForm"].validate((valid) => {
	          if (valid) {
				_this = this;
				this.updatingDesignGrouping = true;
				if(this.isUpdate==false){
					var url = '/ur-bi-portal/DesignGrouping/insert';
					axios.post(url,this.updateInstance)
					  .then(function (response) {
					    console.log(response);
					    if(response.data.code==null||response.data.code!=0){
					    	_this.$notify.error({title: '新增失败',message: response.data.message,offset: 100});
					    	_this.$data.updatingDesignGrouping = false;
					    }else{
						    _this.$notify.info({title: '新增成功',message: '新增成功',offset: 100});
						    _this.$data.updatingDesignGrouping = false;
						    _this.$data.showDialog = false;
					    }
					  })
					  .catch(function (error) {
					    console.log(error);
					    _this.$notify.error({title: '错误',message: '新增数据失败，请联系系统管理员',offset: 100});
					  });
				}else{
					var url = '/ur-bi-portal/DesignGrouping/update';
					axios.put(url,this.updateInstance)
					  .then(function (response) {
					    console.log(response);
					    if(response.data.code==null||response.data.code!=0){
					    	_this.$notify.error({title: '更新失败',message: response.data.message,offset: 100});
					    	_this.$data.updatingDesignGrouping = false;
					    }else{
						    _this.$notify.info({title: '更新成功',message: '更新成功',offset: 100});
						    _this.$data.updatingDesignGrouping = false;
						    _this.$data.showDialog = false;
					    }
					  })
					  .catch(function (error) {
					    console.log(error);
					    _this.$notify.error({title: '错误',message: '更新数据失败，请联系系统管理员',offset: 100});
					  });
				}
	          } else {
	            console.log('error submit!!');
	            return false;
	          }
	        });

		},
		handleTableCurrentChange(currentRow) {
			this.currInstance = currentRow;
		},
    	handleCurrentChange(val){
    		this.queryResult.currPage = val;
    		this.queryDesignGrouping();
    	},
    	handleSizeChange(val){
    		this.queryResult.pageSize = val;
    		this.queryDesignGrouping();
    	},
    	clickSearchBtn(){
    		this.queryResult.currPage = 1;
    		this.queryDesignGrouping();
    	},
        queryDesignGrouping() {
          _this = this;

          var url = '/ur-bi-portal/DesignGrouping/search';
          var page = this.queryResult.currPage;

          if(page==null){
        	  page = 1;
          }

          var restRequest = new URRestRequest();
          restRequest.setCurrPage(page);
          restRequest.setPageSize(this.queryResult.pageSize);

          //可以指定排序字段
          //restRequest.addOrderBy("columnName??? desc");

          if(this.expandCondition==true){
			  //condition参数：字段名、值、运算符(eq,like,in,ne,lt,gt,le,ge)
			  // restRequest.addCondition("id",this.queryCondition.id,"eq");

			  restRequest.addCondition("designGrouping", this.queryCondition.designGrouping.join(","), "in");
			  restRequest.addCondition("serial",this.queryCondition.serial, "eq");
			  restRequest.addCondition("originalSerial",this.queryCondition.originalSerial.join(","),"in");
			  restRequest.addCondition("style",this.queryCondition.style.join(","),"in");
			  restRequest.addCondition("goodsLevel",this.queryCondition.goodsLevel.join(","),"in");
			  restRequest.addCondition("category",this.queryCondition.category.join(","),"in");
			  // restRequest.addCondition("createTime",this.queryCondition.createTime,"eq");
			  //restRequest.addCondition("createBy",this.queryCondition.createBy.join(","),"in");


          }else{
        	  restRequest.addCondition(this.searchColumn,this.searchValue,"eq");
          }

          this.$data.queryingDesignGrouping = true;

          axios.post(url,restRequest.getRequestData())
            .then(function (response) {
              console.log(response);
			    if(response.data.code==null||response.data.code!=0){
			    	_this.$notify.error({title: '查询数据失败',message: response.data.message,offset: 100});
			    	_this.$data.queryingDesignGrouping = false;
			    }else{
	              _this.$data.queryResult = response.data;
	              _this.$data.queryingDesignGrouping = false;
			    }
            })
            .catch(function (error) {
              console.log(error);
              _this.$notify.error({title: '错误',message: '查询数据失败，请联系系统管理员',offset: 100});
            });
          },
	  		clickExportBtn(){
		          _this = this;
		          var url = '/ur-bi-portal/DesignGrouping/export';

		          var restRequest = new URRestRequest();

          //可以指定排序字段
          //restRequest.addOrderBy("columnName??? desc");


	          //condition参数：字段名、值、运算符(eq,like,in,ne,lt,gt,le,ge)
	          //restRequest.addCondition("id",this.queryCondition.id,"eq");
	          restRequest.addCondition("designGrouping",this.queryCondition.designGrouping.join(","), "in");
	          restRequest.addCondition("serial",this.queryCondition.serial, "eq");
	          restRequest.addCondition("originalSerial",this.queryCondition.originalSerial.join(","), "in");
	          restRequest.addCondition("style",this.queryCondition.style.join(","), "in");
	          restRequest.addCondition("goodsLevel",this.queryCondition.goodsLevel.join(","), "in");
	          restRequest.addCondition("category",this.queryCondition.category.join(","), "in");
	          restRequest.addCondition("createTime",this.queryCondition.createTime.join(","), "in");
	          restRequest.addCondition("createBy",this.queryCondition.createBy.join(","), "in");
	          restRequest.addCondition("modifyTime",this.queryCondition.modifyTime.join(","), "in");
	          restRequest.addCondition("modifyBy",this.queryCondition.modifyBy.join(","), "in");

		          this.$data.exportingFile = true;

		          axios.post(url,restRequest.getRequestData())
		            .then(function (response) {
					    if(response.data.code==null||response.data.code!=0){
					    	_this.$notify.error({title: '导出失败',message: response.data.message,offset: 100});
					    	_this.$data.exportingFile = false;
					    }else{
			              var downloadLink = "/ur-bi-portal/DownloadFile/"+response.data.data.fileName+"/"+response.data.data.extName;
			              _this.$data.exportingFile = false;
			              downloadFile(downloadLink);
					    }

		            })
		            .catch(function (error) {
		              console.log(error);
		              _this.$notify.error({title: '错误',message: '导出数据失败，请联系系统管理员',offset: 100});
		            });
			},
          clickResetBtn() {
            // for(var key in this.queryCondition){
            // 	this.queryCondition[key] = "";
            // }
			  this.queryCondition.designGrouping = [];
			  this.queryCondition.serial = [];
			  this.queryCondition.originalSerial = [];
			  this.queryCondition.style = [];
			  this.queryCondition.goodsLevel = [];
          }
        },
    })
    /*]]>*/
  </script>
</html>