*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*~
*.class
*.lock
*._*
*.DS_Store
*.swp
*.out
target/
*/target/
build/
*.iml
*.ipr
*.iws
*.orig
.gradle/
.settings/
.classpath
.project
.metadata/
.idea/
.mvn/
logs/
dev.properties
default.properties
dependency-reduced-pom.xml
*.rdb
log/
application.yml
~$*.xlsx
~$*.docx
*.pyc
*.pyo
.out
out/
